GeoAlchemy2==0.4.0
hug==2.2.0
marshmallow-sqlalchemy==0.13.1
SQLAlchemy==1.1.9
psycopg2==2.7.1
sqlalchemy-migrate==0.11.0
docopt==0.6.2
psycopg2-binary==2.7.4
-e git+https://github.com/OpenPathView/pg-dump-filtered@v0.1#egg=pg_dump_filtered
